#nav-bar {
    padding: 0px 2em;
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    background-color: #00a087;
    color: #e8fdff;
    z-index: 10;
}

#nav-bar .logo {
    width: 80px;
    height: 80px;
    float: left;
}

#nav-bar .header {
    padding-left: 10px;
    font-size: 2em;
    line-height: 2.5em;
    float: left;
}