section#tweets article:hover {
    opacity: 1;
}

section#tweets article {
    margin: 2em;
    border: solid 1px #a7a7a7;
    border-radius: 5px;
    padding:  0em;
    opacity: 0.6;
}

section#tweets header{
    background-color: #eaeaea;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 60px;
}

section#tweets header h2 {
    margin-top: 2px;
    float: left;
    padding-left: 10px;
}

section#tweets header img.avatar {
    height: 50px;
    float: left;
}

section#tweets header p {
    margin-top: 7px;
    float: right;
}

section#tweets footer {
    border-top: 1px solid #eaeaea;
}

section#tweets footer p {
    display:  flex;
    font-size: 0.7em;
    margin: 10px;
}

section#tweets p.content {
    display: flex;
    align-items: center;
    margin: 10px;
    height: 70px;
}

