section#tweets article:hover {
    opacity: 1;
}
section#tweets article:hover footer i {
    opacity: 1;
}

section#tweets article {
    margin: 1em 2em;
    border: solid 1px #a7a7a7;
    border-radius: 5px;
    padding:  0em;
    opacity: 0.6;
}

section#tweets header{
    background-color: #eaeaea;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 60px;
}

section#tweets header h2 {
    margin-top: 2px;
    float: left;
    padding-left: 10px;
}

section#tweets header img.avatar {
    height: 50px;
    float: left;
    border-radius: 5px;
}

section#tweets header p {
    margin-top: 7px;
    float: right;
}

section#tweets p.content {
    display: flex;
    align-items: center;
    margin: 10px;
    height: 70px;
    word-break: break-word;
}

section#tweets footer {
    border-top: 1px solid #eaeaea;
    height: 30px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section#tweets footer p {
    float: left;
    font-size: 0.7em;
}

section#tweets footer i {
    margin: 0px 2px;
    opacity: 0;
}



